
<html>
    <head>
			{% load static %}
        <title> Loan </title>
        <link rel="stylesheet" href="{% static 'css/webpagecss.css' %}">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
        <div class="loan">
           
               <div class="dropdown">
			   
						  <button class="dropbtn">Loan Types</button>
						  <div class="dropdown-content">
							<a href="#track">Tractor LOAN</a>
							<a href="#agri">Agriculture LOAN</a>
							<a href="#crop">Crop LOAN</a>
							<a href="#ware">Warehouse LOAN</a>
						</div>
				</div>
				
				<h1> LOAN SCHEMES</h1>
        </div>
		<br><br>
		<div class = "tar">
			SUGGESTED LOAN FOR YOU
			<table align = "right" class = "tab">
			<th>Bank</th>
			<th bgcolor = "#CAEEBA">Intrest Rate</th>
			<th>Loan Amount</th>
			<th bgcolor = "#CAEEBA">Tenure</th>
			<th>preclosure charge</th>
			<th bgcolor = "#CAEEBA">Processing fee</th>
			<tr>
				<td></td>
				<td bgcolor = "#CAEEBA"></td>
				<td></td>
				<td bgcolor = "#CAEEBA"></td>
				<td></td>
				<td bgcolor = "#CAEEBA"></td>
			</tr>
			</table>
		</div><br>
		<div>
			<h2 id = "track">Tractor Loan:-</h2>
			<table>
			<th>Bank</th>
			<th bgcolor = "#CAEEBA">Intrest Rate</th>
			<th>Loan Amount</th>
			<th bgcolor = "#CAEEBA">Tenure</th>
			<th>preclosure charge</th>
			<th bgcolor = "#CAEEBA">Processing fee</th>
			<tr>
				<td>State Bank Of India</td>
				<td bgcolor = "#CAEEBA">12% p.a.</td>
				<td>Up to 85% finance</td>
				<td bgcolor = "#CAEEBA">Up to 5 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">0.5% of the loan amount</td>
			</tr>
			<tr>
				<td>ICIC</td>
				<td bgcolor = "#CAEEBA">13% p.a. to 20.65% p.a.</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">Up to 5 years</td>
				<td>4% of the outstanding loan amount or outstanding interest for the unexpired loan tenure</td>
				<td bgcolor = "#CAEEBA">Up to 4%</td>
			</tr>
			<tr>
				<td>HDFC</td>
				<td bgcolor = "#CAEEBA">13.21% p.a. to 25.78% p.a.*</td>
				<td>Up to 90% finance</td>
				<td bgcolor = "#CAEEBA">12 months to 84 months</td>
				<td>Up to 6% of the outstanding principal</td>
				<td bgcolor = "#CAEEBA">2% of the loan amount</td>
			</tr>
			<tr>
				<td>AXIS</td>
				<td bgcolor = "#CAEEBA">17.50% p.a. to 20% p.a.</td>
				<td>Up to 90% finance</td>
				<td bgcolor = "#CAEEBA">Up to 60 months</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">As per the lender’s terms and conditions</td>
			</tr>
			<tr>
				<td>MAGNAS</td>
				<td bgcolor = "#CAEEBA">17.50% p.a. to 20% p.a.</td>
				<td>Up to 90% – 95% finance</td>
				<td bgcolor = "#CAEEBA">As per the lender’s terms and conditions</td>
				<td>5% of the outstanding principal</td>
				<td bgcolor = "#CAEEBA">As per the lender’s terms and conditions</td>
			</tr>
			</table>
		</div>
		</div><br>
		<div>
			<h2 id = "agri">Agriculture Loan:-</h2>
			<table>
			<th>Bank</th>
			<th bgcolor = "#CAEEBA">Intrest Rate</th>
			<th>Loan Amount</th>
			<th bgcolor = "#CAEEBA">Tenure</th>
			<th>preclosure charge</th>
			<th bgcolor = "#CAEEBA">Processing fee</th>
			<tr>
				<td>State Bank Of India</td>
				<td bgcolor = "#CAEEBA">10% p.a.</td>
				<td> Cost of land</td>
				<td bgcolor = "#CAEEBA">Up to 9 to 10 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">up to 5lack</td>
			</tr>
			<tr>
				<td>ICIC</td>
				<td bgcolor = "#CAEEBA">10.50%p.a. yo 13.57%p.a.</td>
				<td>Rs 8 lakh to Rs 3 crore</td>
				<td bgcolor = "#CAEEBA">Up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Union Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+ 0.10%</td>
				<td>Loan up to Rs.50,000</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Union Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+0.65%</td>
				<td>Loans above Rs.50,000 to Rs.2 lakh</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Union Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+1.90%</td>
				<td>Loans above Rs.2 lakh to Rs.5 lakh</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Union Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+2.65%</td>
				<td>Loans above Rs.5 lakh to Rs.25 lakh</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Union Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+2.90%</td>
				<td>Loans above Rs.25 lakh to Rs.1 crore</td>
				<td bgcolor = "#CAEEBA">12 months to 84 months</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Union Bank</td>
				<td bgcolor = "#CAEEBA">You will have to contact the bank for the table.</td>
				<td>Loans above Rs.1 crore</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+ 1.40%</td>
				<td>Loan up to Rs.3 lakh</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+2.30%</td>
				<td>Loans above Rs.3 lakh to Rs.1 Crore</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">MCLR+2.30% to MCLR+3.50% (Depending on type of the loan)</td>
				<td>Loans above Rs.1 Crore to Rs.2 Crore</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">LR-MCLR+2.40%</td>
				<td>Loans above Rs.2 Crore (Which will be rated internally under RAM Model)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">NR-MCLR+2.75%</td>
				<td>Loans above Rs.2 Crore (Which will be rated internally under RAM Model)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">MR-MCLR+3.05%</td>
				<td>Loans above Rs.2 Crore (Which will be rated internally under RAM Model)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">HR-MCLR+3.75%</td>
				<td>Loans above Rs.2 Crore (Which will be rated internally under RAM Model)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">AAA or Equivalent - MCLR + 1.40%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">AA or Equivalent - MCLR + 1.50%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">A or Equivalent - MCLR + 1.85%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">BBB - MCLR + 2.80%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">BB - MCLR + 3.35%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">B - MCLR + 3.50%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">C&D - MCLR + 4.50%</td>
				<td>Loans above Rs.5 Crore (Based on External rating)</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>IDBI Bank</td>
				<td bgcolor = "#CAEEBA">BBR+0.50%</td>
				<td>Loans up to Rs.25 lakhs</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			<tr>
				<td>IDBI Bank</td>
				<td bgcolor = "#CAEEBA">BBR+0.63%</td>
				<td>Loans above Rs.25 lakh up to Rs.3 crore</td>
				<td bgcolor = "#CAEEBA">up to 20 years</td>
				<td>As per the lender’s terms and conditions</td>
				<td bgcolor = "#CAEEBA">2lack to 5 lack</td>
			</tr>
			</table>
		</div>
		
		<div>
			<h2 id = "crop">Crop Loan:-</h2>
			<table>
			<th>Bank</th>
			<th bgcolor = "#CAEEBA">Intrest Rate</th>
			<th>Loan Amount</th>
			<th bgcolor = "#CAEEBA">Tenure</th>
			<th>preclosure charge</th>
			<th bgcolor = "#CAEEBA">Processing fee</th>
			<tr>
				<td>State Bank of India</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>IndusInd Bank (Crop Loan)</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Union Bank of India</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>IDBI Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>ICICI Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>HDFC Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>UCO Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Axis Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Allahabad Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Andhra Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Bank of Baroda</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Bank of Baroda</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Bank of Maharashtra</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr><tr>
				<td>Canara Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Central Bank of India</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Corporation Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Dena Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Indian Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Indian Overseas Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Oriental Bank of Commerce</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Punjab and Sind Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Syndicate Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>United Bank of India</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			<tr>
				<td>Vijaya Bank</td>
				<td bgcolor = "#CAEEBA">4.0%p.a.</td>
				<td>up to 3lack</td>
				<td bgcolor = "#CAEEBA">15 months</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">up to 2%</td>
			</tr>
			
			</table>
		</div>
		<div>
			<h2 id = "ware">Warehouse Loan:-</h2>
			<table>
			<th>Bank</th>
			<th bgcolor = "#CAEEBA">Intrest Rate</th>
			<th>Loan Amount</th>
			<th bgcolor = "#CAEEBA">Tenure</th>
			<th>preclosure charge</th>
			<th bgcolor = "#CAEEBA">Processing fee</th>
			<tr>
				<td>ICIC Bank</td>
				<td bgcolor = "#CAEEBA">10.47%p.a.</td>
				<td>upto 50lack*</td>
				<td bgcolor = "#CAEEBA">5 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			<tr>
				<td>State Bank of India</td>
				<td bgcolor = "#CAEEBA">10.50%p.a.</td>
				<td>20lack to 1crore</td>
				<td bgcolor = "#CAEEBA">10 years to 15 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			<tr>
				<td>Axis Bank</td>
				<td bgcolor = "#CAEEBA">11.20%p.a.</td>
				<td>50lack</td>
				<td bgcolor = "#CAEEBA">10 years to 15 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			<tr>
				<td>HDFC Bank</td>
				<td bgcolor = "#CAEEBA">10.60%p.a.</td>
				<td>up to 50lack</td>
				<td bgcolor = "#CAEEBA">10 years to 15 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			<tr>
				<td>United Bank of India</td>
				<td bgcolor = "#CAEEBA">11.20%p.a.</td>
				<td>1 crore</td>
				<td bgcolor = "#CAEEBA">10 years to 15 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			<tr>
				<td>Kotak Bank</td>
				<td bgcolor = "#CAEEBA">12.50%</td>
				<td>5lack to 1 carore</td>
				<td bgcolor = "#CAEEBA">10 years to 15 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			<tr>
				<td>Bank of Baroda</td>
				<td bgcolor = "#CAEEBA">MCLR + SP + 0.25%</td>
				<td>10lack to 2crore</td>
				<td bgcolor = "#CAEEBA">10 years</td>
				<td>NIL</td>
				<td bgcolor = "#CAEEBA">Depend upon loan amount</td>
			</tr>
			</table>
		</div>
		<div class="container-fluid" id="footer">
			<div class="footer">
			<h1><span>Transfroming India </span><span style="color:green;">through</span><span style="color:yellow"> Agriculture</span></h1>
			<div class="row1">
              <div style="width:auto;" class="pt-3 col-3">
                 <img src="{% static 'images/krishi_seva.png' %}" class="pr-5" style="height:70px;width:100px;"/>
              </div>


              <div class="col-6">
                  <h5>Sell With Us:</h5>
              </div>


             <div style="width:auto;" class="pt-3 col-3">
                 <img src="{% static 'images/cdklogo.png' %}" class="pl-5" style="height:70px;width:100px;"/>
              </div>


			</div>

			</div>
		</div>


    </body>
</html>