
<html>
    <head>
        	{% load static %}
        <title> Schemes</title>
      <link rel="stylesheet" href="{% static 'css/webpagecss.css' %}">
    </head>

    <body>   
           
            <div class="dropdown">  
              <button class="dropbtn">STATE</button>
              <div class="dropdown-content">
                <a href="#1">Madhya Pradesh</a>
                <a href="#2">Maharashtra</a>
                <a href="#3">Uttar Pradesh</a>
                <a href="#4">Punjab</a>
                <a href="#5">Haryana</a>
                <a href="#6">Rajasthan</a>
                <a href="#7">Kerala</a>
              </div>
            </div>
            <h1 class="schemes">Schemes for you</h1>

        <div>
            <h2 class = "statename">Madhya Pradesh</h2>
            <table class="table1" id="1">
                <tr>
                  <th>SCHEME</th>
                  <th>CALLED AS</th>
                </tr>
                <tr>
                  <td>Charan Paduka Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Krishi Rin Samadhan Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>MP Price Support Scheme</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Mukhyamantri Khet Teerth Yojana</td>
                  <td>MKTY</td>
                  
                </tr>
                <tr>
                  <td>MP Soil health Card Scheme</td>
                  <td>SHC</td>
                </tr>
                
                <tr>
                  <td>Pradhan Mantri Fasal Bima Yojana</td>
                  <td>PMFBY</td>
                  
                </tr>
                <tr>
                  <td>Pradhan Mantri Krishi Sinchayee Yojana</td>
                  <td>PMKSY</td>
                  
                </tr>
                <tr>
                  <td>Paramparagat Krishi Vikas Yojana</td>
                  <td>PKVY</td>
                  
                </tr>
                <tr>
                  <td>Sub Mission on Agro-Forestry</td>
                  <td>SMAF</td>
                  
                </tr>
                <tr>
                  <td>Rashtriya Krishi Vikas Yojana</td>
                  <td>RKVY</td>
                  
                </tr>
                <tr>
                  <td>National Food Security Mission</td>
                  <td>NFSM</td>
                  
                </tr>
                <tr>
                  <td>National Mission on Sustainable Agriculture</td>
                  <td>NMSA</td>
                  
                </tr>
                <tr>
                  <td>National Mission on Oilseeds and Oil Palm</td>
                  <td>NMOOP</td>
                  
                </tr>
                <tr>
                  <td>National Mission on Agriculture Extension and Technology</td>
                  <td>NMAET</td>
                  
                </tr>
                <tr>
                  <td>National E-Governance Plan</td>
                  <td>NeGPA</td>
                  
                </tr>
                <tr>
                  <td>Annapurna Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>MAPWA Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Isopam Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Saghan Kapas Vikas Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Saghan Ghanna Vikas Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Anaj Vikas Karyakram</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Balram Taal Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Bhoo-Jal Samvardhan Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>National Biogas Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Nadi Ghati Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Nalkup Khanan Yojana</td>
                  <td>NIL</td>
                  
                </tr>

                <tr>
                  <td>Surajdhara Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Krishak Sahakari Rin Mitra Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Mukhyamantri Krishak Samridhi Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>MP Bhavantar Bhugtan Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Chief Minister Agricultural Productivity Scheme</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>MP Krishak Samriddhi Yojana</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>Unified Package Insurance Scheme</td>
                  <td>NIL</td>
                  
                </tr>
                <tr>
                  <td>ATMA Yojana</td>
                  <td>NIL</td>
              
              </table>
            

              <h2 class = "statename">Maharashtra</h2>
              <table class="table1" id="2">
                  <tr>
                    <th>SCHEME</th>
                    <th>CALLED AS</th>
                  </tr>
                  <tr>
                    <td>ISOPOM</td>
                    <td>NIL</td>
                  </tr>
                  <tr>
                    <td>National Horticulture Mission/ Horticulture Mission for North- Eastern and the Himalayan States</td>
                    <td>NIL</td>
                  </tr>
                  <tr>
                    <td>Work plan Organic Farming Scheme</td>
                   <td>NIL</td>
                  </tr>
                  <tr>
                    <td>Soil Survey & Soil Testing scheme (State Govt.)</td>
                    <td>NIL</td>
                  </tr>
                  <tr>
                    <td>National Project on Management of Soil Health and Fertility</td>
                    <td>NIL</td>
                  </tr>
                   <tr>
                    <td>National Project on Organic Farming</td>
                    <td>NIL</td>
                   </tr>
                   <tr>
                    <td>Integrated Cereals Development Programme</td>
                    <td>NIL</td>
                  </tr>
                  <tr>
                    <td>National Food Security Mission</td>
                   <td>NIL</td>
                   </tr>
                   <tr>
                    <td>Integrated Cereals Development Programme</td>
                    <td>NIL</td>
                   </tr>
                   <tr>
                    <td>Oil Palm area expansion programme (RKVY)</td>
                    <td>NIL</td>
                   </tr>
                   <tr>
                    <td>Intensive for nutritional security through Intensive Millets Promotion(INSIMP)</td>
                    <td>NIL</td>
                   </tr>
                  <tr>
                    <td>Oilseed  Production Programme</td>
                   <td>NIL</td>
                  </tr>
                   <tr>
                    <td>Centrally sponsored Sugar cane development scheme</td>
                    <td>NIL</td>
                  </tr>
                  <tr>
                    <td>Integrated scheme on Oilseeds, Pulses, Oil-palm and Maize. (ISOPOM)</td>
                    <td>NIL</td>
                  </tr>
                   <tr>
                    <td>Oil palm area expansion programme (RKVY)</td>
                    <td>NIL</td>
                  </tr>
                   <tr>
                    <td>Cotton Technology Mission</td>
                    <td>NIL</td>
                  </tr>
                   <tr>
                    <td> Seed Village Programme</td>
                    <td>NIL</td>
                  </tr>
                   <tr>
                    <td>25% State Govt of Maharashtra</td>
                     <td>NIL</td>
                  </tr>
                  <tr>
                    <td>Initiative for Nutritional Security through Intensive Millets Promotion (INSIMP)</td>
                   <td>NIL</td>
                  </tr>
                   <tr>
                    <td>Jute and Mesta Technology Mission</td>
                     <td>NIL</td>
                  </tr>
                   <tr>
                    <td>Development and strengthening of infrastructure for Production and Distribution of Quality Seed</td>
                  <td>NIL</td>
                  </tr>
          <tr>
                    <td>Initiative for Nutritional Security through Intensive </td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Rainfed area development programme</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>NFSM-Pulses and ISOPOM</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Programme of Integrated Development of 60000</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Extending Green Revolution to Eastern India</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>SCP, TSP & OTSP</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Plant Protection scheme</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Vegetable Initiative for Urban Clusters</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Gramin Bhandaran Yojana</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Gramin Bhandaran Yojana</td>
            <td>NIL</td>
                  </tr>
          <tr>
                    <td>Integrated Cereals Development Programme</td>
            <td>NIL</td>
                  </tr>
                </table>



            <h2 class = "statename">Uttar Pradesh(UP)</h2>
            <table class="table1" id="3">
              <tr>
                <th>SCHEME</th>
                <th>CALLED AS</th>
              </tr>

              <tr>
                <td>E-NAM</td>
                <td>NIL</td>  
              </tr>
              <tr>
                <td>National Mission For Sustainable Agriculture </td>
                <td>NIL</td>  
              </tr>
              <tr>
                <td>Pradhan Mantri Krishi Sinchai Yojana</td>
                <td>PMKSY</td>  
              </tr>
              <tr>
                <td>Paramparagat Krishi Vikas Yojana</td>
                <td>PKVY</td>  
              </tr>
              <tr>
                <td>Pradhan Mantri Fasal Bima Yojana</td>
                <td>PMFBY</td>  
              </tr>
              <tr>
                <td>Gramin Bhandaran Yojna</td>
                <td>NIL</td>  
              </tr>
              <tr>
                <td>Livestock insurance Scheme</td>
                <td>NIL</td>  
              </tr>
              <tr>
                <td>vegetable Initiative for Urban Clusters</td>
                <td>NIL</td>  
              </tr>
              <tr>
                <td>National Scheme on Welfare of Fishermen</td>
                <td>NIL</td>  
              </tr>
              <tr>
                <td>Micro Irrigation Fund</td>
                <td>MIF</td>  
              </tr>
            </table>



            <h2 class = "statename" id="4">Punjab</h2>
            <table class="table1">
              <tr>
                <th>SCHEME</th>
                <th>CALLED AS</th>
              </tr>
              <tr>
                <td>National Agriculture Market </td>
                <td>e-NAM</td>
              </tr>
              <tr>
                <td>Model Agricultural Produce and Livestock Marketing</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Formulation of Model Contract Farming</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>National Food Security Mission</td>
                <td>NFSM</td>
              </tr>
              <tr>
                <td>Mini Mission Oilseeds 1</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Macro Management of Agriculture Supplementation Complementation of States Efforts through Work Plan</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Sub-Mission on Plant Protection and Plant Quarantine</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Operational Guidelines of National Mission for Sustainable Agriculture</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Revised Guidelines</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Operational Guidelines on SMSP Under NMAET</td>
                <td>NIL</td>
              </tr>
            </table>

            <h2 class = "statename" id="5">Haryana</h2>
            <table class="table1">
              <tr>
                <th>SCHEME</th>
                <th>CALLED AS</th>
              </tr>
              <tr>
                <td>Scheme for Promotion of Sustainable Agriculture - Strategic Initiatives.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Promotion of Crop Diversification.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Stocking and Distribution of Fertilizers by Institutional Agenices.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for strenghting of Agricultural Extension Infrastructure.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Agricultural Engineering and Trail Boring.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Providing soil and Water Testing Services to the farmers.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Setting up Strengthening of Biological Control Lab at Sirsa under Integrated Pest Management.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Quality Control on Agriculture Inputs.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Technology Mission on Sugarcane.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Agriculture Extension Training Services to Farmer.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Constitution of Haryana Kisan Ayog.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Promotion of Cotton Cultivation in Haryana State.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for National Project on Management of Soil Health and Fertility.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Imporvement of Agriculture Statistics.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Providing implements/ Machinery on subsidy to the group of farmers and farmers of SC Category.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Scheme for Pradhan Mantri Fasal Bima Yojna.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Development of Saline or Waterlogged Soils in Haryana State.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Integrated Watershed Development And Management Project In The State.</td>
                <td>NIL</td>
              </tr>
              <tr>
                <td>Providing Assistance On Adoption Of Water Saving Technologies.</td>
                <td>NIL</td>
              </tr>
            </table>


            <h2 class = "statename">Rajasthan</h2>
            <table class="table1" id="6">
                <tr>
                  <th>SCHEME</th>
                  <th>CALLED AS</th>
                </tr>
			        	<tr>
                  <td>National Food Security Mission</td>
				          <td>NFSM</td>
			        	</tr>
			        	<tr>
				          <td>National Mission on Oil Seeds & Oil Palms</td>
			        	  <td>NMOOP</td>
			      	 </tr>
			      	 <tr>
				        <td>National Mission for Sustainable Agriculture</td>
				        <td>NMSA</td>
				       </tr>
				  <tr>
				  <td>National Mission on Agriculture Extension & Technology</td>
				  <td>NMAET</td>
				  </tr>
				  <tr>
				  <td>Rastriya Krishi Vikas Yojna</td>
				  <td>RKVY</td>
				  </tr>
				  <tr>
				  <td>Pradhan Mantri Krishi Sinchai Yojna</td>
				  <td>PMKSY</td>
				  </tr>
				  <tr>
				  <td>Weather Based Crop Insurance Scheme</td>
				  <td>WBCIS</td>
				  </tr>
				  <tr>
				  <td>Modified National Agriculture Insurance Scheme</td>
				  <td>MNAIS</td>
				  </tr>
				  <tr>
					<td></td>
					<td></td>
				  </tr>
			</table>
			
			
			<h2 class = "statename" >Kerala</h2>
            <table class="table1" id="7">
                <tr>
                  <th>SCHEME</th>
                  <th>CALLED AS</th>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (Establishment - A) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (Establishment - B) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (planning -A) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (planning -B) Department</td>
                  <td>NIL</td>
                </tr>
				        <tr>
                  <td>Agriculture Development & Farmers' Welfare (NCA) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (Farms) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (P U) Department</td>
                  <td>NIL</td>
                </tr>
				        <tr>
                  <td>Agriculture Development & Farmers' Welfare (Agri.) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (IFA) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (PPM cell) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (PS) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (WTO Cell) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (Dairy) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (AHE) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (AHF) Department</td>
                  <td>NIL</td>
                </tr>
			        	<tr>
                  <td>Agriculture Development & Farmers' Welfare (AHG) Department</td>
                  <td>NIL</td>
                </tr>
				
			</table>

        </div>
    <div class="container-fluid" id="footer">
			<div class="footer">
			<h1><span>Transfroming India </span><span style="color:green;">through</span><span style="color:yellow"> Agriculture</span></h1>
			<div class="row1">
              <div style="width:auto;" class="pt-3 col-3">
                 <img src="{% static 'images/krishi_seva.png' %}" class="pr-5" style="height:70px;width:100px;"/>
              </div>


              <div class="col-6">
                  <h5>Sell With Us:</h5>
              </div>


             <div style="width:auto;" class="pt-3 col-3">
                 <img src="{% static 'images/cdklogo.png' %}" class="pl-5" style="height:70px;width:100px;"/>
              </div>


			</div>

			</div>
		</div>


    </body>
</html>